<nav class="navbar navbar-expand-sm bg-dark navbar-dark text-capitalize">
    <div class="container">
        <a href="" class="navbar-brand">
            <h3>crud-operation</h3>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="mynavbar" class="collapse navbar-collapse">
            <ul class="navbar-nav fs-5">
                <li class="nav-item"><a routerLink="table" class="nav-link">table</a></li>
                <li class="nav-item"><a routerLink="form" class="nav-link">form</a></li>
            </ul>
        </div>
    </div>
</nav>
